h1 Financial Transaction 
= render partial: "uploads/new"

h3 Financial Transaction List
h4 Selecione uma loja para ter acesso ao saldo total
= render partial: "list", locals: {financial_transactions: @financial_transactions}