$primary_color: #0066cc;
$secondary_color: #fff;
$page_red_color: #b30000;
$page_green_color: #009900;

body {
  background-color: $primary_color;
}

.sign-out{
  font-size: 16;
  font-weight: bolder;
}

.container {
  background-color: $secondary_color;

    margin: {
      left: 50px;
      right: 50px;
    };
    
    padding: {
      left: 10px;
      right: 10px;
    };
}

table{
  thead{
    background-color: lightgrey;
    color: black;
    font-weight: bolder;
    text-align: left;

    th{
      padding: {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
      }
    }
  }

  tbody{
    td{
      padding: {
        top: 5px;
        bottom: 5px;
        left: 10px;
        right: 10px;
      }
    }
  }
}